@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">

    <label for="ConvertFrom">Convert from</label>
    <select asp-for="ConvertFrom">
        <option value="Fahrenheit">Fahrenheit</option>
        <option value="Celcius">Celcius</option>
        <option value="Kelvin">Kelvin</option>
    </select>

    <label for="ConvertTo">To</label>
    <select asp-for="ConvertTo">
        <option value="Fahrenheit">Fahrenheit</option>
        <option value="Celcius">Celcius</option>
        <option value="Kelvin">Kelvin</option>
    </select>
    <div>
        <label for="InputValue">Number</label>
        <input type="number" asp-for="InputValue">    
        <input value="@Model.ConvertedValue" readonly>
    </div>
    <button type="submit">Convert</button>
</form>

